:root {
  --primary-color: rgb(172, 138, 248);
  --primary-color-darker: rgb(71, 29, 163);
  --higher-background-color: ghostwhite;
  --lower-background-color: white;
  --disabled-color: grey;
  --highlight-color: rgba(248, 248, 255, 0.72);
  --hint-color-dark: rgb(150, 150, 150);
  --hint-color-light: rgb(180, 180, 180);
  --shadow-color: rgba(112, 144, 156, 0.3);
  --shadow-big: 7.5px 15px 50px rgba(112, 144, 156, 0.15);
  --shadow-small: 0px 5px 10px rgba(112, 144, 156, 0.15);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.app-bar {
  background-color: var(--highlight-color);
  height: 55px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

body {
  margin: 0;
}

p {
  font-size: large;
  line-height: 1.5;
}

.Button {
  border: none;
  min-width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  font-weight: bold;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;

  transition: 0.25s;
  transition-timing-function: ease-in-out;
}
.Button:hover {
  box-shadow: var(--shadow-small);
}

.colored-background {
  color: white;
  background-color: var(--primary-color);
}
.colored-background:hover {
  box-shadow: var(--shadow-small);
}

.notcolored-background {
  color: var(--primary-color);
  background-color: white;
}
.notcolored-background:hover {
  background-color: ghostwhite;
}

.horizontal-margin {
  max-width: 1400px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.horizontal-margin-narrow {
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
